body {
  margin: 0;
  max-width: 100%;
  overflow: hidden;
}

.clearfix {
  clear: both;
}

@font-face {
    font-family: "Anton";
    src: url("../fonts/Anton-Regular.ttf") format("opentype");
        /* Make sure you defined the correct path, which is related to
            the location of your file `my_css.css` */
    }

/* MENU ----------------------------------------------------------------------------------------------*/

#play_menu{
    display: none;
    position: absolute;
    margin-top: 45vh;
    width: 100%;
    text-align: center;
}

#wrapper{
width: 100vw;
height: 100vh;
max-width: 100%;
background-image: url("../images/menu_bg.jpg");
background-position: center;
background-size: cover;
}


#menu_logo {
  position: absolute;
  left: 25%;
  width: calc(50% + 3vw);
}

.optn {
  color: rgba(255, 255, 255, 0.9);
  font-family: 'Anton', sans-serif;
}

.options_button {
  font-size: 12px;
}

#play_options {
  list-style-type: none;
}

.menu_button {
  font-size: 24px;
}

#play_button {
  position: absolute;
  margin-top: 52vh;
  margin-left: 35vw;
  height: 20vh;
  width: 30vw;
  border: solid;
  border-radius: 5px;
  font-size: 36px;
  background-color: rgba(0, 0, 0, 0.5);

}

#options_menu {
  position: absolute;
  bottom: 5px;
  width: 100%;
}

#optn_left {
  margin: 10px;
  float: left;
}

#optn_right {
  margin: 10px;
  float:right;
}

/* STAGE ----------------------------------------------------------------------------------------------*/

.actor_box {
  height: 100vh;
  padding: 0px 100px 0px 100px;
}

#stage {
  width: 100vw;
  height: 100vh;
}

#stage_container {
  display: none;
}

#scene_stage {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-size: cover;
  z-index: 0;
}

.convo_opt {
  display: none;
  background-color: #FF99CC;
  margin-bottom: 10px;
  border-radius: 5px;
  width: 40%;
  margin: 0 calc(5% - 5px);
  border: 1px solid grey;

}

/* STORYBOX ----------------------------------------------------------------------------------------------*/

#story_box {
  z-index: 2;
  width: 94vw;
  margin: 20px 3vw;
  padding: 20px;
  height: 25vh;
  border-radius: 25px;
  border-style: double;
  border-color: purple;
  border-width: 4px;
  position: absolute;
  bottom: 0;
  background-color: #ffccff;
  font-size: 10px;
}

/* SCHOOL MENU ------------------------------------------------------------------------------------------*/

#school_menu{
  display: none;
  width: 95%;
}

#town_menu{
  display: none;
  width: 95%;
}

.menu_item {
  display: flex;
  height: 18vh;
  margin: 2.5vh;
  width: 500px;

}

.menu_item span, .work span, .home img {
  display: inline-block;
}

.home span, .work span, .home img {
  display: block;
}

.home {
  text-align: center;
  position: absolute;
  top: 20px;
  right: 20px;
}

.work {
  text-align: center;
  position: absolute;
  bottom: 100px;
  right: 20px;
}

.home span, .work span, .menu_item span {
  font-size: 36px;
  font-family: "Anton", sans-serif;
  color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.home img, .work img, .menu_item img {
  height: 60px;
}

/* DEMO END SCREEN */
#demo_end {
  height: 100vh;
  width: 100vw;
  background-image: url("../images/menu_bg.jpg");
  display: none;
  z-index: 100;
  color: white;
  font-family: 'Anton', sans-serif;
  text-align: center;
  font-size: 24px;
  padding: 20vh 100px;
}



